*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:var(--clr-white-smoke);
}
:root{
    --clr-white:#ffffff;
    --clr-white-smoke:#f5f5f5;
    --clr-gray:#696969;
    --clr-navy:#000080;
    --margin-05rem:0.5rem;
}
/* in web page every ul li list style type */
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style-type: none;
}
/* person image area  style start here */
.container-skill{
    margin: 0px 1rem 0px 1rem;
}
.container-skill > .container-person > .person-image img{
    max-width: 100%;
}
.container-person{
    position: relative;
}
.container-skill > .container-person > .person-name{
    position: absolute;
    top: 85%;
    left: 30px;
    color: var(--clr-white);
    font: normal  bold 1.2rem 'Courier New', Courier, monospace;
}
.person-contact-address , .skill-area , .language-area {
    border-bottom: 2px solid #ffffff;
}
.person-contact-address > ul li{
    color:var(--clr-gray);
    margin: 25px 0px;
}

.person-contact-address ul li::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    margin: var(--margin-05rem);
    color: 	var(--clr-navy);
}
.person-contact-address ul li:first-child::before{
    content: '\f0b1';
}
.person-contact-address ul li:nth-child(2)::before{
    content: '\f015';
}
.person-contact-address ul li:nth-child(3)::before{
    content: '\f0e0';
}
.person-contact-address ul li:nth-child(4)::before{
    content: '\f879';
}
/*person contact area end here */
/* person skills area start here */
.skill-area h2::before{
    content: '\f0a3';
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    color:var(--clr-navy);
    font-size: 1rem;
    margin: var(--margin-05rem);
}
.skill-area > h2{
    font: normal  bold 1.3rem/30px Georgia, serif;
    color: var(--clr-gray);
    margin-bottom: 1rem;
}
/* create skill area progress bar */
.skill-area ul li{
    margin: 50px 0px 50px 0.5rem;
    position: relative;
    color: var(--clr-gray);
    font-size: 1rem;
}
.skill-area > ul li:first-child{
    margin-top: 0;
}
.skill-area > ul li::before{
    content: '';
    position: absolute;
    top: calc(100% + 15px);
    width: 100%;
    height: 20px;
    background-color: var(--clr-white);
    border-radius: 5px;
}
.skill-area > ul li::after{
    content: '';
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    height: 20px;
    background-color: var(--clr-navy);
    border-radius: 5px;
    color: var(--clr-white);
    text-align: center;
    font-size: 0.6rem;
    padding-top: 0.3rem;
}
.skill-area > ul li:first-child::after{
    content: '85%';
    width: 85%;
}
.skill-area > ul li:nth-child(2)::after{
    content: '80%';
    width: 80%;
}
.skill-area > ul li:nth-child(3)::after{
    content: '70%';
    width: 70%;
}
.skill-area > ul li:nth-child(4)::after{
    content: '60%';
    width: 60%;
}
/* skill area end here */
/* language area start here */
.language-area > h3{
    font: normal  bold 1.3rem/30px Georgia, serif;
    color: var(--clr-gray);
    padding: 0.5rem;
    margin-bottom: 0.8rem;

}
.language-area > h3::before{
    content: '\f57d';
    font-family: 'Font Awesome 5 free';
    font-weight: bold;
    margin-right: var(--margin-05rem);
    color: var(--clr-navy);
}
.language-area ul li{
    margin: 50px 0px 0px 0.5rem;
    position: relative;
    color: var(--clr-gray);
    font-size: 1rem;
}
.language-area > ul li:first-child{
    margin-top: 0;
}
.language-area > ul li::before{
    content: '';
    position: absolute;
    top: calc(100% + 15px);
    width: 100%;
    height: 15px;
    background-color: var(--clr-white);
    border-radius: 5px;
}
.language-area > ul li::after{
    content: '';
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    height: 15px;
    background-color: var(--clr-navy);
    border-radius: 5px;
    text-align: center;
    color: var(--clr-white);
    font-size: 0.6rem;
    font-weight: bold;
    padding-top: 0.3rem;
}
 .language-area > ul li:first-child::after{
    content: '90%';
    width: 90%;
    
}
.language-area > ul li:nth-child(2)::after{
    content: '80%';
    width: 80%;
}
.language-area > ul li:nth-child(3)::after{
    content: '50%';
    width: 50%;
} 